.yo {
  border-radius: 50%;
  border: 1px solid black;
  width: 45px;
}

.ani:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.avi {
  display: none;
}

.ani:hover .avi {
  display: block;
}
