.circle_image_border {
  border-radius: 50%;
  border: 1px solid black;
  width: 45px;
}

 .image{
  width: 100%; height: 305px;
 }

 .image_insider{
   top: 15px; left: 90px; 
 }
 
 .date{
   padding-right: 40px;
 }

 .circle_image1{
   top: 245px; left: 960px;
 }

 .border1{
  border: 1px dashed rgb(140, 140, 140);  margin-top:30px;
 }

 .circle_image2{
   top: 70px; left: 690px; 
 }

 .border2{
  border: 1px dashed rgb(140, 140, 140); margin-top: 45px;
 }